### Importing libraries and data

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
path = r'/Users/jennyfevik/Desktop/Data'

In [3]:
df_border = pd.read_csv(os.path.join(path, 'Original', 'Border_Crossing_Entry_Data.csv'),index_col=False)

### Exploring Data

In [4]:
df_border.head()

,Port Name,State,Port Code,Border,Date,Measure,Value,Latitude,Longitude,Point
0,Del Rio,Texas,2302,US-Mexico Border,Feb 2023,Trucks,5823,29.327,-100.928,POINT (-100.927612 29.326784)
1,Roma,Texas,2310,US-Mexico Border,Aug 2009,Trains,0,26.404,-99.019,POINT (-99.018981 26.403928)
2,Skagway,Alaska,3103,US-Canada Border,Feb 2023,Pedestrians,1,59.630,-135.164,POINT (-135.164444 59.629722)
3,Brownsville,Texas,2301,US-Mexico Border,Feb 2023,Trains,70,25.952,-97.401,POINT (-97.40067 25.95155)
4,Sault Sainte Marie,Michigan,3803,US-Canada Border,Feb 2023,Truck Containers Loaded,2322,46.509,-84.361,POINT (-84.360833 46.508611)

In [5]:
df_border.tail()

,Port Name,State,Port Code,Border,Date,Measure,Value,Latitude,Longitude,Point
384233,Rio Grande City,Texas,2307,US-Mexico Border,May 1996,Rail Containers Loaded,0,26.366,-98.803,POINT (-98.802513 26.365761)
384234,Van Buren,Maine,108,US-Canada Border,Dec 1996,Rail Containers Loaded,0,47.160,-67.931,POINT (-67.930799 47.159645)
384235,Westhope,North Dakota,3419,US-Canada Border,Mar 1996,Personal Vehicle Passengers,2070,49.000,-101.017,POINT (-101.017277 48.999611)
384236,Sherwood,North Dakota,3414,US-Canada Border,Jul 1996,Truck Containers Loaded,0,48.999,-101.628,POINT (-101.627527 48.999305)
384237,Madawaska,Maine,109,US-Canada Border,Jul 1996,Truck Containers Loaded,33,47.360,-68.329,POINT (-68.328684 47.360052)

In [6]:
df_border.shape

(384238, 10)

In [7]:
df_border.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 384238 entries, 0 to 384237
Data columns (total 10 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Port Name  384238 non-null  object
 1   State      384238 non-null  object
 2   Port Code  384238 non-null  int64
 3   Border     384238 non-null  object
 4   Date       384238 non-null  object
 5   Measure    384238 non-null  object
 6   Value      384238 non-null  int64
 7   Latitude   384238 non-null  float64
 8   Longitude  384238 non-null  float64
 9   Point      384238 non-null  object
dtypes: float64(2), int64(2), object(6)
memory usage: 29.3+ MB

In [8]:
df_border.describe()

           Port Code         Value       Latitude      Longitude
count  384238.000000  3.842380e+05  384238.000000  384238.000000
mean     2448.510488  2.852033e+04      43.992768     -99.766520
std      1203.387044  1.497299e+05       8.147254      18.252683
min       101.000000  0.000000e+00      25.952000    -141.001000
25%      2304.000000  0.000000e+00      42.999000    -114.728000
50%      3012.000000  1.300000e+02      48.496000    -101.628000
75%      3401.000000  2.836000e+03      49.000000     -89.585000
max      3814.000000  4.447374e+06      62.615000     -66.980000

In [9]:
# checking for missing values
df_border.isnull().sum()

Port Name    0
State        0
Port Code    0
Border       0
Date         0
Measure      0
Value        0
Latitude     0
Longitude    0
Point        0
dtype: int64

No Missing Values

### Changing Column Names¶

In [10]:
df_border.rename(columns = {'Measure' : 'Crossing Method'}, inplace = True)

In [11]:
df_border.rename(columns = {'Value' : 'Count of Crossing'}, inplace = True)

In [12]:
df_border.head()

,Port Name,State,Port Code,Border,Date,Crossing Method,Count of Crossing,Latitude,Longitude,Point
0,Del Rio,Texas,2302,US-Mexico Border,Feb 2023,Trucks,5823,29.327,-100.928,POINT (-100.927612 29.326784)
1,Roma,Texas,2310,US-Mexico Border,Aug 2009,Trains,0,26.404,-99.019,POINT (-99.018981 26.403928)
2,Skagway,Alaska,3103,US-Canada Border,Feb 2023,Pedestrians,1,59.630,-135.164,POINT (-135.164444 59.629722)
3,Brownsville,Texas,2301,US-Mexico Border,Feb 2023,Trains,70,25.952,-97.401,POINT (-97.40067 25.95155)
4,Sault Sainte Marie,Michigan,3803,US-Canada Border,Feb 2023,Truck Containers Loaded,2322,46.509,-84.361,POINT (-84.360833 46.508611)

### Splitting Date Column

In [13]:
# Splitting Date column into month and year
df_border[['Month','Year']] = df_border.Date.str.split(' ',expand=True)

In [14]:
df_border.head()

,Port Name,State,Port Code,Border,Date,Crossing Method,Count of Crossing,Latitude,Longitude,Point,Month,Year
0,Del Rio,Texas,2302,US-Mexico Border,Feb 2023,Trucks,5823,29.327,-100.928,POINT (-100.927612 29.326784),Feb,2023
1,Roma,Texas,2310,US-Mexico Border,Aug 2009,Trains,0,26.404,-99.019,POINT (-99.018981 26.403928),Aug,2009
2,Skagway,Alaska,3103,US-Canada Border,Feb 2023,Pedestrians,1,59.630,-135.164,POINT (-135.164444 59.629722),Feb,2023
3,Brownsville,Texas,2301,US-Mexico Border,Feb 2023,Trains,70,25.952,-97.401,POINT (-97.40067 25.95155),Feb,2023
4,Sault Sainte Marie,Michigan,3803,US-Canada Border,Feb 2023,Truck Containers Loaded,2322,46.509,-84.361,POINT (-84.360833 46.508611),Feb,2023

### Checking for Duplicates

In [15]:
# checking for duplications
df_dups = df_border[df_border.duplicated()]

In [16]:
df_dups

,Port Name,State,Port Code,Border,Date,Crossing Method,Count of Crossing,Latitude,Longitude,Point,Month,Year
46912,Santa Teresa,New Mexico,2408,US-Mexico Border,Jun 2019,Personal Vehicle Passengers,110576,31.784,-106.679,POINT (-106.679437 31.783939),Jun,2019
48661,Detroit,Michigan,3801,US-Canada Border,Jun 2019,Personal Vehicle Passengers,599521,42.332,-83.048,POINT (-83.047924 42.331685),Jun,2019
55276,Fort Kent,Maine,110,US-Canada Border,Jun 2019,Personal Vehicle Passengers,14056,47.249,-68.604,POINT (-68.603918 47.249206),Jun,2019
56598,Del Rio,Texas,2302,US-Mexico Border,Jun 2019,Personal Vehicles,123068,29.327,-100.928,POINT (-100.927612 29.326784),Jun,2019
57009,Fort Kent,Maine,110,US-Canada Border,Jun 2019,Personal Vehicles,9615,47.249,-68.604,POINT (-68.603918 47.249206),Jun,2019
59645,Santa Teresa,New Mexico,2408,US-Mexico Border,Jun 2019,Personal Vehicles,50672,31.784,-106.679,POINT (-106.679437 31.783939),Jun,2019
61133,Detroit,Michigan,3801,US-Canada Border,Jun 2019,Personal Vehicles,351889,42.332,-83.048,POINT (-83.047924 42.331685),Jun,2019
61554,Del Rio,Texas,2302,US-Mexico Border,Jun 2019,Personal Vehicle Passengers,238721,29.327,-100.928,POINT (-100.927612 29.326784),Jun,2019
63273,Roma,Texas,2310,US-Mexico Border,Jun 2019,Personal Vehicle Passengers,104640,26.404,-99.019,POINT (-99.018981 26.403928),Jun,2019
81448,Roma,Texas,2310,US-Mexico Border,Jun 2019,Personal Vehicles,54953,26.404,-99.019,POINT (-99.018981 26.403928),Jun,2019

In [17]:
df_dups.shape

(10, 12)

10 Duplicate rows

In [18]:
# dropping duplicates
df_border_clean = df_border.drop_duplicates()

In [19]:
df_border_clean.shape

(384228, 12)

In [20]:
df_border_clean.head()

,Port Name,State,Port Code,Border,Date,Crossing Method,Count of Crossing,Latitude,Longitude,Point,Month,Year
0,Del Rio,Texas,2302,US-Mexico Border,Feb 2023,Trucks,5823,29.327,-100.928,POINT (-100.927612 29.326784),Feb,2023
1,Roma,Texas,2310,US-Mexico Border,Aug 2009,Trains,0,26.404,-99.019,POINT (-99.018981 26.403928),Aug,2009
2,Skagway,Alaska,3103,US-Canada Border,Feb 2023,Pedestrians,1,59.630,-135.164,POINT (-135.164444 59.629722),Feb,2023
3,Brownsville,Texas,2301,US-Mexico Border,Feb 2023,Trains,70,25.952,-97.401,POINT (-97.40067 25.95155),Feb,2023
4,Sault Sainte Marie,Michigan,3803,US-Canada Border,Feb 2023,Truck Containers Loaded,2322,46.509,-84.361,POINT (-84.360833 46.508611),Feb,2023

### Dropping Unnecessary Columns

In [21]:
df_border_clean_2 = df_border_clean.drop(columns = ['Port Code','Date', 'Point'])

In [22]:
df_border_clean_2.head()

,Port Name,State,Border,Crossing Method,Count of Crossing,Latitude,Longitude,Month,Year
0,Del Rio,Texas,US-Mexico Border,Trucks,5823,29.327,-100.928,Feb,2023
1,Roma,Texas,US-Mexico Border,Trains,0,26.404,-99.019,Aug,2009
2,Skagway,Alaska,US-Canada Border,Pedestrians,1,59.630,-135.164,Feb,2023
3,Brownsville,Texas,US-Mexico Border,Trains,70,25.952,-97.401,Feb,2023
4,Sault Sainte Marie,Michigan,US-Canada Border,Truck Containers Loaded,2322,46.509,-84.361,Feb,2023

### Exporting Data

In [23]:
df_border_clean_2.to_csv(os.path.join(path, 'Prepared', 'Border_Crossing_Entry_Data_Cleaned.csv'))